.photocard__like-value {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  cursor: default;
  color: #000;
}