.header__button {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  transition: .3s;
  background: none;
  border: none;
  color: #fff;
  text-decoration: none;
}

.header__button:hover {
  opacity: .6;
}

@media screen and (max-width: 425px) {
  .header__button {
    margin-top: 27px;
    margin-right: 30px;
  }
}